{{-- Doğrulama postası. Düz ve stilsiz: posta istemcileri CSS'in çoğunu
     atıyor ve bağlantının görünmesi tek gereken şey. --}}
<p>Hello,</p>
<p>Follow this link to verify your Postillion account:</p>
<p><a href="{{ url }}">{{ url }}</a></p>
<p>The link is good for 24 hours. If you did not create this account, you can ignore this e-mail.</p>
